<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Users</nb-card-header>
      <toaster-container ></toaster-container>

      <nb-card-body>
        <p *ngIf="!users">Populating list...</p>
        <div class="row" style="padding-left: 1.5%" *ngIf="users">
          <button class="btn btn-success btn-sm" (click)="goToCreate()">Create New User</button>
        </div>
        <br>
        <ng2-smart-table *ngIf="users"
          [settings]="settings"
          [source]="users"
          (deleteConfirm)="onDeleteConfirm($event)"
          (editConfirm)="onEditConfirm($event)"
        ></ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>

