<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Defect Types</nb-card-header>
      <toaster-container ></toaster-container>

      <nb-card-body>
        <p *ngIf="!defectTypes">Populating list...</p>
        <ng2-smart-table *ngIf="defectTypes"
          [settings]="settings"
          [source]="defectTypes"
          (deleteConfirm)="onDeleteConfirm($event)"
          (createConfirm)="onCreateConfirm($event)"
          (editConfirm)="onEditConfirm($event)"
        ></ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>

