<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Aircraft Sections</nb-card-header>
      <toaster-container></toaster-container>
      <nb-card-body>
        <p *ngIf="!aircraftSections">Populating list...</p>
        <ng2-smart-table *ngIf="aircraftSections"
          [settings]="settings"
          [source]="aircraftSections"
          (deleteConfirm)="onDeleteConfirm($event)"
          (createConfirm)="onCreateConfirm($event)"
          (editConfirm)="onEditConfirm($event)"
        ></ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
