<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Roles</nb-card-header>
      <toaster-container ></toaster-container>
<nb-card-body>
  <p *ngIf="!roles">Populating list...</p>
  <ng2-smart-table *ngIf="roles"
    [settings]="settings"
    [source]="roles"
    (deleteConfirm)="onDeleteConfirm($event)"
    (createConfirm)="onCreateConfirm($event)"
    (editConfirm)="onEditConfirm($event)"
  ></ng2-smart-table>
</nb-card-body>
    </nb-card>
  </div>
</div>
