<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header *ngIf="mode==='defects'">Defects</nb-card-header>
      <nb-card-header *ngIf="mode==='history'">History</nb-card-header>
      <toaster-container></toaster-container>
      <nb-card-body>
        <p *ngIf="!defects">Populating list...</p>
        <div>
          <ng2-smart-table *ngIf="defects"
                           [settings]="settings"
                           [source]="defects"
                           (deleteConfirm)="onDeleteConfirm($event)"
                           (createConfirm)="onCreateConfirm($event)"
                           (editConfirm)="onEditConfirm($event)"
          ></ng2-smart-table>
        </div>
        <br>
        <div >
          <div class="row" style="padding-left: 1.5%" *ngIf="defects && mode==='defects'" >
            <button class="btn btn-primary btn-sm" style="cursor:pointer;" (click)="exportToExcel()"><i
              class="fa fa-file-export"></i>Export to Excel
            </button>
          </div>
          <div id="container">

            <div id="myModal" class="modal">

              <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="downloadSectionImage()"><i
                  class="fa fa-download"></i> Download Image
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="myModal" (click)="closeModal()">Close
                </button>
              </div>

              <!-- Modal Content (The Image) -->
              <div id="globalCanvas">
                <img class="modal-content" id="image">
                <canvas id="canvas"></canvas>

                <!-- Modal Caption (Image Text) -->
              </div>
              <div id="caption"></div>


            </div>
          </div>

        </div>


      </nb-card-body>
    </nb-card>
  </div>
</div>
